// @import ''
//COLORS
$c-yellow: #ffcc00;
$c-grey-normal: #666666;
$c-grey-light: #cccccc;
$c-grey-dark: #333333;
$c-white: #fff;

// FONTS
$f-header: "Roboto", sans-serif;
$f-main: "Raleway", sans-serif;
$f-link: sans-serif;
//Font Size
$fs-title-small: 18;
$fs-title-big: 60px;
$fs-info-title: 36;
$fs-info-sub-title: 24;
$fs-info-text: 14;
$fs-info-button: 14;
